<ul class="nav nav-pills mt-4" >
  <li class="nav-item mx-1">
    <a href="/" class="btn btn-secondary">Home</a>
  </li>
  <li class="nav-item mx-1 create-poll">
    <a href="/create" class="btn btn-secondary">Create New Poll</a>
  </li>
  <li class="nav-item mx-1 view-polls">
    <a href="/polls" class="btn btn-secondary">View All Polls</a>
  </li>
</ul>
